body {
  max-width: 1000px;
  font: 24px 'Ubuntu', sans-serif;
  margin: auto;
  text-align: center;
}

.header-title {
  font: 72px 'Galada', cursive;
  margin: 10px;
  margin-bottom: -30px;
}

.header-subtitle {
  margin: 10px;
}

.poll-container {
  width: 90%;
  border-radius: 20px;
  background-color: #E1E1E1;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 50px;
}

.poll-header {
  margin: 15px;
  font-size: 32px;
}

.name-card-back {
  background-color: #DF1E37;
  border: 3px solid #A80F23;
  border-radius: 25px;
  padding: 25px 0;
  margin: auto;
  margin-bottom: -75px;
  width: 50%;
  z-index: 2;
  position: relative;
}

.name-card-name {
  font: 64px 'Galada', cursive;
  background-color: #FFFFFF;
  width: 100%;
  margin: 0;
  max-height: 90px;
}

.poll-img-wrapper-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0));
}

.poll-img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0));
}

.poll-img-loading {
  position: relative;
  top: 40%;
}

.poll-img {
  margin: 0 auto;
  z-index: 1;
}

.poll-options-container {
  background-color: #FFFFFF;
  border: 3px solid #CCCCCC;
  border-radius: 25px;
  margin: auto;
  margin-top: -50px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.poll-option {
  flex-grow: 2;
  font-size: 48px;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  transition: filter 0.1s ease-out;
}

.poll-option:hover {
  background-color: #EEEEEE;
  filter: drop-shadow(0px 0px 20px #DDDDDD);
}

.poll-option-yes {
  font-weight: bold;
  color: #00C208;
}

.poll-option-new-pic {
  font-size: 38px;
  padding: 15px;
  color: #777777;
  flex-grow: 0;
}

.poll-option-no {
  font-weight: bold;
  color: #D80000;
}

.poll-option-divider {
  margin: 10px 0;
  z-index: 3;
  position: relative;
}

.new-name-form {
  border-radius: 20px;
  background-color: #E1E1E1;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.new-name-form-header {
  margin: 0;
  font-weight: initial;
  margin-bottom: 10px;
}

.new-name-form-input-container {
  display: flex;
  transition: width 0.1s ease-in-out;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.new-name-form-input {
  font-size: 28px;
  width: 100%;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px;
}

.new-name-form-submit {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 3px solid #3628FF;
  border-radius: 10px;
  color: #3628FF;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.new-name-form-submit:hover {
  background-color: #2C21CE;
  color: #FFFFFF;
  outline: 0;
  box-shadow: 0 0 40px 40px #3628FF inset;
}

.new-name-form-loading-spinner {
  position: absolute;
  height: 50px;
  margin-left: -25px;
}

.new-name-form-api-res {
  margin: 5px;
  text-align: left;
  color: #2C21CE;
  position: relative;
  z-index: 1;
}

.new-name-form-api-res-error {
  color: #dd0000;
}

.results-chart-container {
  border-radius: 20px;
  background-color: #E1E1E1;
  margin: auto;
  padding: 20px 10px;
  margin: 20px 0;
}

.results-chart-header {
  font-size: 32px;
  margin: 0;
}

.results-chart-subheader {
  font-size: 24px;
  margin: 10px;
}

.results-chart-refresh-btn {
  border: none;
  background-color: #FFFFFF00;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: 32px;
}
